Cache invalidation via POST/PUT/DELETE is not updated

```
4.4.  Invalidation

   Because unsafe request methods (Section 4.2.1 of [RFC7231]) such as
   PUT, POST or DELETE have the potential for changing state on the
   origin server, intervening caches can use them to keep their contents
   up to date.

   A cache MUST invalidate the effective Request URI (Section 5.5 of
   [RFC7230]) as well as the URI(s) in the Location and Content-Location
   response header fields (if present) when a non-error status code is
   received in response to an unsafe request method.

   However, a cache MUST NOT invalidate a URI from a Location or
   Content-Location response header field if the host part of that URI
   differs from the host part in the effective request URI (Section 5.5
   of [RFC7230]).  This helps prevent denial-of-service attacks.

   A cache MUST invalidate the effective request URI (Section 5.5 of
   [RFC7230]) when it receives a non-error response to a request with a
   method whose safety is unknown.

   Here, a "non-error response" is one with a 2xx (Successful) or 3xx
   (Redirection) status code.  "Invalidate" means that the cache will
   either remove all stored responses related to the effective request
   URI or will mark these as "invalid" and in need of a mandatory
   validation before they can be sent in response to a subsequent
   request.

   Note that this does not guarantee that all appropriate responses are
   invalidated.  For example, a state-changing request might invalidate
   responses in the caches it travels through, but relevant responses
   still might be stored in other caches that it has not.
```


Now handled.